@model List<string>

<h1>Protected Values</h1>
<ul>
    @if (Model != null)
    {
         foreach (var value in Model)
         {
             <li>
                 <em>@value</em>
             </li>
         }
    }
</ul>
